body {
}

.number {
    text-align: right;
}

.rotate {
    transform: rotate(270deg);
}

.bord {
    background-color: antiquewhite;
}

.gas {
    background-color: deeppink;
}

    .gas:hover {
        border: solid 3px;
    }

.elem {
    background-color: goldenrod
}

    .elem:hover {
        border: solid 3px;
    }
.met {
    background-color: cornflowerblue
}

    .met:hover {
        border: solid 3px;
    }
.lan {
    background-color: olivedrab
}
    .lan:hover {
        border: solid 3px;
    }
