body
{
}
.number
{
    text-align:right;
}
.rotate
{    
    transform:rotate(270deg);
}
.bord{
   background-color:antiquewhite;
}
.gas{
    background-color:deeppink;
}
.elem {
    background-color:goldenrod
}
.met{
    background-color:cornflowerblue
}
.lan{
    background-color:olivedrab
}