body
{
    background-color:beige;
}
.header{
    font-size:32px;
    /*text-align:center;*/
    margin:30px;
}
.question {
    font-size: 20px;
    padding-left: 20px;
    margin: 20px;
}
.answer {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px;
}
.btn {
    font-size: 20px;
    margin: 10px;    
}
.result {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px;
    visibility: hidden;
    background-color:transparent
}